In [1]:
%load_ext sql
%sql mysql+pymysql://root:toor@localhost/movie_cte_db

### Basic CTE filter
1] Create a CTE to list all movies released after 2015

In [4]:
%%sql 

WITH recent_movies AS (
    SELECT 
        movie_id,
        title,
        release_year
    FROM movies
    WHERE release_year > 2015
)
SELECT 
    movie_id,
    title,
    release_year
FROM recent_movies
ORDER BY release_year DESC;

 * mysql+pymysql://root:***@localhost/movie_cte_db
4 rows affected.

[(6, 'The Office Movie', 2021),
 (3, 'Parasite', 2019),
 (4, 'Joker', 2019),
 (5, 'Avengers: Endgame', 2019)]

### Aggregate CTE
2] Use a CTE to calculate average rating per movie.

In [13]:
%%sql 

WITH movie_avg AS (
    SELECT 
        movie_id,
        AVG(rating) AS avg_rating,
        COUNT(rating) AS total_ratings
    FROM ratings
    GROUP BY movie_id
)
SELECT 
    m.movie_id,
    m.title,
    m.release_year,
    ROUND(ma.avg_rating, 2) AS average_rating,
    ma.total_ratings
FROM movies m
JOIN movie_avg ma 
    ON m.movie_id = ma.movie_id
ORDER BY average_rating DESC;

 * mysql+pymysql://root:***@localhost/movie_cte_db
5 rows affected.

[(2, 'The Dark Knight', 2008, Decimal('9.40'), 2),
 (3, 'Parasite', 2019, Decimal('9.35'), 2),
 (1, 'Inception', 2010, Decimal('9.00'), 3),
 (5, 'Avengers: Endgame', 2019, Decimal('8.75'), 2),
 (4, 'Joker', 2019, Decimal('8.20'), 1)]